<%- include("./partials/header") %>

    <main class="m-4">
       <h1>Sigh in here</h1>

        <form action ="/sign_in" method="POST">
            <div class="form-group">
              <label for="exampleInputPassword1">Username</label>
              <input type="text" class="form-control" placeholder="username" name="username">
            </div>
            <button type="submit" class="btn btn-info float-right">Submit</button>
        </form>

<%- include("./partials/footer") %>
